<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.ModelsNEW" value="https://pkgs.dev.azure.com/dennisvanderkraaij/e9718be0-5610-4c7e-a7bd-55ffbce8f99d/_packaging/Tailspin.SpaceGame.Web.ModelsNEW/nuget/v3/index.json" />
  </packageSources>
</configuration>